/* Import Cinzel font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.text-outline {
  text-shadow:
    -1.55px -1.55px 0 #000,  
     1.55px -1.55px 0 #000,
    -1.55px  1.55px 0 #000,
     1.55px  1.55px 0 #000;
}

.text-outline-home {
  text-shadow:
    -1.8px -1.8px 0 #000,  
     1.8px -1.8px 0 #000,
    -1.8px  1.8px 0 #000,
     1.8px  1.8px 0 #000;
}

.text-outline-armor {
  text-shadow:
    -1.55px -1.55px 0 #000,  
     1.55px -1.55px 0 #000,
    -1.55px  1.55px 0 #000,
     1.55px  1.55px 0 #000;
}

@keyframes glowing {
  0% { box-shadow: 0 0 5px rgba(0, 163, 0, 0.4), 0 0 10px rgba(0, 255, 0, 0.2); background-color: rgba(0, 255, 0, 0.2); }
  50% { box-shadow: 0 0 20px rgba(0, 194, 0, 0.658), 0 0 30px rgba(0, 190, 0, 0.37); background-color: rgba(1, 216, 1, 0.295); }
  100% { box-shadow: 0 0 5px rgba(0, 163, 0, 0.4), 0 0 10px rgba(0, 255, 0, 0.2); background-color: rgba(0, 255, 0, 0.2); }
}

.glow{
  animation: glowing 1.5s infinite ease-in-out;
}

@keyframes glowingSidebar {
  0% { filter: drop-shadow(0 0 10px rgba(255, 166, 0, 0.699)); }
  50% { filter: drop-shadow(0 0 25px rgb(255, 181, 44)); }
  100% { filter: drop-shadow(0 0 10px rgba(255, 166, 0, 0.699)); }
}

@keyframes glowingHome {
  0% { filter: drop-shadow(0 0 10px rgba(0, 209, 28, 1)); }
  50% { filter: drop-shadow(0 0 15px rgb(0, 209, 28)); }
  100% { filter: drop-shadow(0 0 10px rgba(0, 209, 28, 1)); }
}

.hover\:animate-glow-home:hover{
  animation: glowingHome 1.5s infinite ease-in-out;
}

/* Efecto hover */
.hover\:animate-glow:hover {
  animation: glowingSidebar 1.5s infinite alternate ease-in-out;
}

.hover\:animate-glow:hover p {
  opacity: 1;
  color: rgb(255, 181, 44);
  text-shadow:
    -1.55px -1.55px 0 #000,  
    1.55px -1.55px 0 #000,
    -1.55px  1.55px 0 #000,
    1.55px  1.55px 0 #000;
  transition: transform 0.2s ease;
  transform: translateY(-5px);
}

.hover\:animate-glow:hover img {
  transition: transform 0.2s ease;
  transform: scale(1.5);
}

/* Efecto hover */
.hover\:selected-glow {
  animation: glowingSidebar 1.5s infinite alternate ease-in-out;
}

.hover\:selected-glow p {
  opacity: 1;
  color: rgb(255, 181, 44);
  text-shadow:
    -1.55px -1.55px 0 #000,  
    1.55px -1.55px 0 #000,
    -1.55px  1.55px 0 #000,
    1.55px  1.55px 0 #000;
  transition: transform 0.2s ease;
  transform: translateY(-5px);
}

.hover\:selected-glow img {
  transition: transform 0.2s ease;
  transform: scale(1.5);
}

.mask-image{
  mask-image: linear-gradient(
    transparent -100%,
    black 50%,
    transparent 150%
  );
}

.mask-image-weapons{
  mask-image: linear-gradient(
    transparent -100%,
    black 50%,
    transparent 150%
  );
}

.armor{
  transform: rotate(-45deg);
}

.armor-icon{
  border: #ffffff 1px solid;
  transform: rotate(45deg);
}

.two{
  height: 7rem;
}

.three{
  height: 15rem;
}

.weapon-card{
  text-align: center;
  width: auto;
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 0.6rem;
}

.weapon-card p, .weapon-card img {
  margin: 2% 5%;
}

.child-node:before {
  background: white;
  position: absolute;
  content: "";
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 150px 150px 150px 150px;
  transform: rotate(180deg) translateY(42.5%) translateX(-50%);
  z-index: 1;
}

.grid-equal-rows {
  display: grid;
  grid-auto-rows: 1fr;
}

.ripped {
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
  clip-path: polygon(
    0 100%,
    100% 100%,
    100% 0%,     /* top-right corner */
    95% 3%,
    92% 7%,
    89% 4%,
    85% 6%,
    82% 5%,
    78% 8%,
    74% 6%,
    70% 7%,
    65% 5%,
    61% 9%,
    57% 6%,
    52% 8%,
    48% 4%,
    43% 8%,
    39% 5%,
    35% 7%,
    30% 6%,
    25% 9%,
    20% 4%,
    15% 8%,
    10% 6%,
    5% 7%,
    0 4%,
    0 100%,
    100% 100%
  );
  background-color: #222; /* Add a background for testing */
}

@media (min-width:1281px) {
  .title{
    font-size: 4.5rem;
  }
}

@media (max-width:1024px) {
  .large{
    flex-direction: column;
  }
}

@media (max-width:1280px) {
  .title{
    font-size: 4rem;
  }
}

@media (max-width:1024px) {
  .title{
    font-size: 3.5rem;
  }
}

@media (max-width:768px) {
  .title{
    font-size: 2.5rem;
  }
  .hunters{
    font-size: 1rem;
  }
}

@media (max-width:639px) {
  .title{
    padding-top: 10%;
    font-size: 2rem;
  }
  .hunters{
    font-size: 0.7rem;
  }
  .weapon-card{
    border-radius: 5px;
    padding: 0.3rem;
  }
}

.title{
  padding-bottom: 10%;
}

.intro{
  background: #222222;
  padding: 10% 20% 10% 20%;
  border-radius: 20px;
  border-top: gold 5px solid;
  border-bottom: gold 5px solid;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

